body{
    background: radial-gradient(circle, rgb(221, 131, 242) 0%, rgba(106, 50, 203, 0.835) 100%);
}
h1 {
   font-size: 80px;
    margin: 0;
    text-align: center;
    margin-top: 100px;

}
h1.animate__bounce {
    --animate-duration: 2s;
    
}
#Start{
    display: block;
    width: 100px;
    height: 70px;
    padding: 8px;
    border: 1px solid blue; 
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    background-color: rgb(172, 193, 255);
    margin-top: 50px;
    border-radius: 10px;
}
#button1{
    margin-top: 10px;
    width: 80px;
}
.flip-container{
    display:block;
    border: 1px black;
    width: 500px;
    height: 300px;
    padding: 10px;
    margin: auto;
    background-color: rgb(243, 220, 250);
    text-align: center;
    border-radius:3%;
    margin-top: 100px;
    
}

#form{
    display:block;
    border: 1px black;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: auto;
    background-color: rgb(243, 220, 250);
    text-align: center;
    border-radius:3%;
    margin-top: 80px;
    
}
input{
    width: 240px;
    height: 30px;
    padding: 8px;
    margin: 4%;
    box-shadow: 3px 2px 2px rgb(221, 139, 221);
}
input[type=text] {
    text-align: center;
    margin-top: 20px;
}
/* flip the container when the card is click  */
.flip-container.is-flipped {
    transform: rotateY(180deg);
}   
.flip-container, .front, .back {
    width: 300px;
    height: 380px;
}
/* Flip speed  */
.flipper {
    transition: 0.7s;
    transform-style: preserve-3d;

    position: relative;
}
/* Hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
/* Front pane, placed above back */
.front {
    z-index: 2;

    /* For Firefox 31 */
    transform: rotateY(0deg);
    margin-top: 20%;
    font-size: 25px;
}
.back {
    transform: rotateY(180deg);
    margin-top: 50%;

}

