body{
    background-color: rgba(170, 113, 222, 0.798);
}
h1 {
   font-size: 100px;
    margin: 0;
    text-align: center;
}
#Start{
    display: block;
    width: 90px;
    height: 60px;
    padding: 3px;
    border: 1px solid blue; 
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    background-color: rgb(172, 193, 255);
    
}
#game{
    display:block;
    border: 1px black;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: auto;
    background-color: rgb(243, 220, 250);
    text-align: center;
}
input{
    width: 240px;
    height: 30px;
    padding: 5px;
    margin: 2%;
    box-shadow: 3px 2px 2px rgb(221, 139, 221);
}
input[type=text] {
    text-align: center;
    margin-top: 20px;
}